 .u-section-1 {
  min-height: 730px;
}

.u-section-1 .u-image-1 {
  width: 640px;
  height: 640px;
  margin: 1px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 640px;
  height: 640px;
  margin: -551px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -442px calc(((100% - 1920px) / 2) + 1427px) 0 calc(((100% - 1920px) / 2) + 354px);
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 10px calc(((100% - 1920px) / 2) + 1406px) 0 calc(((100% - 1920px) / 2) + 348px);
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 63px calc(((100% - 1920px) / 2) + 324px) 0 calc(((100% - 1920px) / 2) + 1439px);
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 10px calc(((100% - 1920px) / 2) + 300px) 226px calc(((100% - 1920px) / 2) + 1416px);
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1920px) / 2) + 240px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1920px) / 2) + 1021px);
    margin-left: calc(((100% - 1920px) / 2) + 607px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1920px) / 2) + 1012px);
    margin-left: calc(((100% - 1920px) / 2) + 602px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 1920px) / 2) + 477px);
    margin-left: calc(((100% - 1920px) / 2) + 1167px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 1920px) / 2) + 566px);
    margin-left: calc(((100% - 1920px) / 2) + 1153px);
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 602px;
  }

  .u-section-1 .u-image-1 {
    width: 512px;
    height: 512px;
    margin-left: calc(((100% - 1920px) / 2) + 448px);
  }

  .u-section-1 .u-image-2 {
    width: 512px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 1920px) / 2) + 1035px);
    margin-left: calc(((100% - 1920px) / 2) + 753px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 1920px) / 2) + 1028px);
    margin-left: calc(((100% - 1920px) / 2) + 746px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1920px) / 2) + 786px);
    margin-left: calc(((100% - 1920px) / 2) + 1017px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1920px) / 2) + 766px);
    margin-left: calc(((100% - 1920px) / 2) + 997px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 607px;
  }

  .u-section-1 .u-image-1 {
    width: 385px;
    height: 385px;
    margin-left: calc(((100% - 1920px) / 2) + 600px);
  }

  .u-section-1 .u-image-2 {
    width: 456px;
    height: 456px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1920px) / 2) + 960px);
    margin-left: calc(((100% - 1920px) / 2) + 828px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1920px) / 2) + 954px);
    margin-left: calc(((100% - 1920px) / 2) + 820px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1920px) / 2) + 823px);
    margin-left: calc(((100% - 1920px) / 2) + 980px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1920px) / 2) + 803px);
    margin-left: calc(((100% - 1920px) / 2) + 960px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 275px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1920px) / 2) + 690px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -451px;
    margin-right: calc(((100% - 1920px) / 2) + 690px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -342px;
  }

  .u-section-1 .u-text-4 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 544px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 249px;
    height: 249px;
    margin-top: -251px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -142px;
    margin-right: calc(((100% - 340px) / 2) + 152px);
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-right: calc(((100% - 340px) / 2) + 132px);
    margin-left: calc(((100% - 340px) / 2) + 114px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: calc(((100% - 340px) / 2) + 92px);
    margin-left: calc(((100% - 340px) / 2) + 183px);
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    margin-right: calc(((100% - 340px) / 2) + 81px);
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }
} .u-section-2 {
  background-image: url("images/_______2.png");
  background-position: 50% 50%;
  min-height: 673px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 126px calc(((100% - 1920px) / 2) + 177px) 0 calc(((100% - 1920px) / 2) + 1593px);
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: -38px calc(((100% - 1920px) / 2) + 1338px) 0 calc(((100% - 1920px) / 2) + 33px);
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -18px calc(((100% - 1920px) / 2) + 430px) 0 calc(((100% - 1920px) / 2) + 1370px);
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 calc(((100% - 1920px) / 2) + 383px) 0 calc(((100% - 1920px) / 2) + 1340px);
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -94px calc(((100% - 1920px) / 2) + 10px) 0 calc(((100% - 1920px) / 2) + 1768px);
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 6px calc(((100% - 1920px) / 2)) 0 calc(((100% - 1920px) / 2) + 1748px);
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: -67px calc(((100% - 1920px) / 2) + 181px) 0 calc(((100% - 1920px) / 2) + 1589px);
}

.u-section-2 .u-text-8 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.875rem;
  margin: 33px calc(((100% - 1920px) / 2) + 845px) 0 calc(((100% - 1920px) / 2) + 33px);
}

.u-section-2 .u-image-1 {
  width: 960px;
  height: 547px;
  margin: -316px 0 0 auto;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 663px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 139px;
    margin-right: calc(((100% - 1440px) / 2) + 156px);
    margin-left: calc(((100% - 1440px) / 2) + 1134px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -120px;
    margin-right: calc(((100% - 1440px) / 2) + 891px);
    margin-left: calc(((100% - 1440px) / 2));
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 95px;
    margin-right: calc(((100% - 1440px) / 2) + 389px);
    margin-left: calc(((100% - 1440px) / 2) + 931px);
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 1440px) / 2) + 343px);
    margin-left: calc(((100% - 1440px) / 2) + 900px);
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -92px;
    margin-right: calc(((100% - 1440px) / 2) + -8px);
    margin-left: calc(((100% - 1440px) / 2) + 1306px);
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: calc(((100% - 1440px) / 2) + -16px);
    margin-left: calc(((100% - 1440px) / 2) + 1284px);
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -101px;
    margin-right: calc(((100% - 1440px) / 2) + 162px);
    margin-left: calc(((100% - 1440px) / 2) + 1128px);
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -37px;
    margin-right: calc(((100% - 1440px) / 2) + 598px);
    margin-left: calc(((100% - 1440px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 893px;
    height: 457px;
    margin-top: -179px;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 545px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 49px;
    margin-right: calc(((100% - 1024px) / 2) + 126px);
    margin-left: calc(((100% - 1024px) / 2) + 748px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1.75rem;
    margin-top: 14px;
    margin-right: calc(((100% - 1024px) / 2) + 456px);
    margin-left: calc(((100% - 1024px) / 2) + 19px);
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -54px;
    margin-right: calc(((100% - 1024px) / 2) + 336px);
    margin-left: calc(((100% - 1024px) / 2) + 568px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 1024px) / 2) + 298px);
    margin-left: calc(((100% - 1024px) / 2) + 529px);
  }

  .u-section-2 .u-text-5 {
    margin-top: -57px;
    margin-right: calc(((100% - 1024px) / 2) + -23px);
    margin-left: calc(((100% - 1024px) / 2) + 893px);
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-right: calc(((100% - 1024px) / 2) + -13px);
    margin-left: calc(((100% - 1024px) / 2) + 873px);
  }

  .u-section-2 .u-text-7 {
    margin-top: -91px;
    margin-right: calc(((100% - 1024px) / 2) + 131px);
    margin-left: calc(((100% - 1024px) / 2) + 743px);
  }

  .u-section-2 .u-text-8 {
    font-size: 1.3125rem;
    margin-top: 95px;
    margin-right: calc(((100% - 1024px) / 2) + 491px);
    margin-left: calc(((100% - 1024px) / 2) + 19px);
  }

  .u-section-2 .u-image-1 {
    margin-top: -273px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 420px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.375rem;
    margin-top: 71px;
    margin-right: calc(((100% - 720px) / 2) + -15px);
    margin-left: calc(((100% - 720px) / 2) + 634px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -52px;
    margin-right: calc(((100% - 720px) / 2) + 385px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-3 {
    font-size: 1.375rem;
    margin-top: -19px;
    margin-right: calc(((100% - 720px) / 2) + 292px);
    margin-left: calc(((100% - 720px) / 2) + 335px);
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 5px;
    margin-right: calc(((100% - 720px) / 2) + 292px);
    margin-left: calc(((100% - 720px) / 2) + 319px);
  }

  .u-section-2 .u-text-5 {
    font-size: 1.375rem;
    margin-top: -95px;
    margin-right: calc(((100% - 720px) / 2) + 118px);
    margin-left: calc(((100% - 720px) / 2) + 499px);
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 45px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 622px);
  }

  .u-section-2 .u-text-7 {
    font-size: 0.875rem;
    margin-top: -61px;
    margin-right: calc(((100% - 720px) / 2) + 118px);
    margin-left: calc(((100% - 720px) / 2) + 499px);
  }

  .u-section-2 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 55px;
    margin-right: calc(((100% - 720px) / 2) + 416px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 369px;
    margin-top: -205px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 250px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + -15px);
    margin-left: calc(((100% - 540px) / 2) + 544px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2) + 205px);
  }

  .u-section-2 .u-text-3 {
    margin-top: 196px;
    margin-right: calc(((100% - 540px) / 2) + 202px);
    margin-left: calc(((100% - 540px) / 2) + 245px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 202px);
    margin-left: calc(((100% - 540px) / 2) + 229px);
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 28px);
    margin-left: calc(((100% - 540px) / 2) + 409px);
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 442px);
  }

  .u-section-2 .u-text-7 {
    margin-top: -67px;
    margin-right: calc(((100% - 540px) / 2) + 28px);
    margin-left: calc(((100% - 540px) / 2) + 409px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + 236px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 277px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 771px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 107px;
    margin-right: calc(((100% - 340px) / 2) + -18px);
    margin-left: calc(((100% - 340px) / 2) + 281px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 286px;
    margin-right: calc(((100% - 340px) / 2) + 5px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -356px;
    margin-right: calc(((100% - 340px) / 2) + 199px);
    margin-left: calc(((100% - 340px) / 2) + 48px);
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
    margin-right: calc(((100% - 340px) / 2) + 209px);
    margin-left: calc(((100% - 340px) / 2) + 22px);
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    margin-top: -69px;
    margin-right: calc(((100% - 340px) / 2) + 67px);
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-2 .u-text-6 {
    margin-top: 35px;
    margin-right: calc(((100% - 340px) / 2) + -18px);
    margin-left: calc(((100% - 340px) / 2) + 260px);
  }

  .u-section-2 .u-text-7 {
    margin-top: -50px;
    margin-right: calc(((100% - 340px) / 2) + 76px);
    margin-left: calc(((100% - 340px) / 2) + 161px);
  }

  .u-section-2 .u-text-8 {
    font-size: 1.3125rem;
    margin-top: 385px;
    margin-right: calc(((100% - 340px) / 2) + 36px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 566px;
    height: 284px;
    margin: -635px auto 60px calc(((100% - 340px) / 2) + -176px);
  }
} .u-section-3 {
  background-image: url("images/bannerdirector.jpg");
  background-position: 50% 50%;
  min-height: 838px;
}

.u-section-3 .u-image-1 {
  width: 838px;
  left: 0;
  right: auto;
}

.u-section-3 .u-image-2 {
  width: 833px;
  height: 833px;
  margin: 0 auto 0 calc(((100% - 1920px) / 2) + 350px);
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -327px auto 0 calc(((100% - 1920px) / 2) + 753px);
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.375rem;
  margin: -418px calc(((100% - 1920px) / 2) + 163px) 0 calc(((100% - 1920px) / 2) + 753px);
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 5px calc(((100% - 1920px) / 2) + 53px) 60px calc(((100% - 1920px) / 2) + 753px);
}

@media (max-width: 1399px) {
   .u-section-3 {
    min-height: 719px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 90px;
    margin-right: calc(((100% - 1920px) / 2) + 497px);
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -400px;
    margin-right: calc(((100% - 1440px) / 2) + 519px);
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -475px;
    margin-right: calc(((100% - 1440px) / 2) + 124px);
    margin-left: calc(((100% - 1440px) / 2) + 638px);
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: calc(((100% - 1440px) / 2) + 14px);
    margin-left: calc(((100% - 1440px) / 2) + 638px);
  }
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 589px;
  }

  .u-section-3 .u-image-1 {
    width: 662px;
  }

  .u-section-3 .u-image-2 {
    width: 693px;
    left: 259px;
    right: 122px;
    height: auto;
    margin: initial;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 531px;
    margin-right: calc(((100% - 1024px) / 2) + 254px);
  }

  .u-section-3 .u-text-1 {
    font-size: 1.625rem;
    margin-top: -498px;
    margin-right: calc(((100% - 1024px) / 2) + 22px);
    margin-left: calc(((100% - 1024px) / 2) + 490px);
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 30px;
    margin-right: calc(((100% - 1024px) / 2) + 45px);
    margin-left: calc(((100% - 1024px) / 2) + 490px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 520px;
  }

  .u-section-3 .u-image-1 {
    width: 382px;
  }

  .u-section-3 .u-image-2 {
    width: 355px;
    left: 293px;
    height: auto;
    margin: initial;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 450px;
    margin-right: calc(((100% - 720px) / 2) + 125px);
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -481px;
    margin-right: calc(((100% - 720px) / 2) + -39px);
    margin-left: calc(((100% - 720px) / 2) + 309px);
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -7px;
    margin-right: calc(((100% - 720px) / 2) + 100px);
    margin-left: calc(((100% - 720px) / 2) + 309px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-image-2 {
    left: 113px;
    height: auto;
    margin: initial;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -2361px;
    margin-right: auto;
    margin-left: calc(((100% - 1920px) / 2) + 819px);
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 1920px) / 2) + 933px);
    margin-left: calc(((100% - 1920px) / 2) + 987px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 1920px) / 2) + 1010px);
    margin-left: calc(((100% - 1920px) / 2) + 786px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1092px;
  }

  .u-section-3 .u-image-1 {
    width: 474px;
    height: 474px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 calc(((100% - 340px) / 2) + -84px);
  }

  .u-section-3 .u-image-2 {
    width: 154px;
    height: 546px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 25px auto 0 calc(((100% - 340px) / 2) + 76px);
  }

  .u-section-3 .u-btn-1 {
    margin-top: -17px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -570px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 18px);
  }

  .u-section-3 .u-text-2 {
    width: 312px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}.u-block-f2ea-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 3px;
}

.u-block-f2ea-3 {
  position: absolute;
  left: 0;
}

.u-block-f2ea-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 575px) {
  .u-block-f2ea-3 {
    width: 8px;
    height: 8px;
  }

  .u-block-f2ea-4 {
    width: 8px;
    height: 8px;
  }
}

 .u-section-4-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/banner.jpg");
  background-position: 50% 50%;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 895px;
}

.u-section-4-1 .u-image-1 {
  width: 687px;
  height: 687px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 53px 0 0 auto;
}

.u-section-4-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -120px auto 0 53px;
}

.u-section-4-1 .u-image-2 {
  width: 373px;
  height: 119px;
  margin: -338px auto 0 30px;
}

.u-section-4-1 .u-image-3 {
  width: 624px;
  height: 147px;
  margin: 0 auto 0 30px;
}

.u-section-4-1 .u-image-4 {
  width: 626px;
  height: 212px;
  margin: -478px auto 60px 21px;
}

@media (max-width: 1399px) {
  .u-section-4-1 .u-btn-1 {
    margin-top: -42px;
    margin-left: 46px;
  }

  .u-section-4-1 .u-image-2 {
    margin-top: -298px;
    margin-left: 46px;
  }

  .u-section-4-1 .u-image-3 {
    width: 446px;
    height: 105px;
    margin-top: 22px;
    margin-left: 46px;
  }

  .u-section-4-1 .u-image-4 {
    width: 494px;
    height: 179px;
    margin-top: -447px;
    margin-left: 46px;
  }
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-4-1 .u-btn-1 {
    margin-top: -211px;
    margin-left: 18px;
  }

  .u-section-4-1 .u-image-2 {
    width: 294px;
    height: 104px;
    margin-top: -241px;
    margin-left: 18px;
  }

  .u-section-4-1 .u-image-3 {
    width: 336px;
    height: 76px;
    margin-top: -6px;
    margin-left: 18px;
  }

  .u-section-4-1 .u-image-4 {
    width: 343px;
    height: 124px;
    margin-top: -298px;
    margin-left: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-4-1 .u-btn-1 {
    margin-top: 255px;
    margin-left: auto;
  }

  .u-section-4-1 .u-image-2 {
    margin-top: -432px;
    margin-right: 123px;
    margin-left: auto;
  }

  .u-section-4-1 .u-image-3 {
    margin-top: 206px;
    margin-right: 139px;
    margin-left: auto;
  }

  .u-section-4-1 .u-image-4 {
    height: 123px;
    margin-top: -499px;
    margin-right: 74px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-4-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-4-1 .u-btn-1 {
    margin-top: 342px;
  }

  .u-section-4-1 .u-image-2 {
    margin-top: -249px;
    margin-right: 103px;
  }

  .u-section-4-1 .u-image-3 {
    height: 105px;
    margin-top: 7px;
    margin-right: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-4-1 .u-image-1 {
    height: 405px;
    width: 405px;
    margin-top: 118px;
    margin-right: -65px;
  }

  .u-section-4-1 .u-btn-1 {
    margin-top: 264px;
    margin-left: 0;
  }

  .u-section-4-1 .u-image-2 {
    margin-top: -226px;
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-4-1 .u-image-3 {
    height: 80px;
    margin-top: -9px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4-1 .u-image-4 {
    height: 115px;
    margin-top: -282px;
    width: 340px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1632px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 1px 434px 0 446px;
}

.u-section-5 .u-image-1 {
  width: 188px;
  height: 151px;
  margin: 176px auto 0 438px;
}

.u-section-5 .u-image-2 {
  width: 407px;
  height: 407px;
  margin: -557px auto 0 175px;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: -160px 434px 0 628px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: -42px auto 0 66px;
}

.u-section-5 .u-image-3 {
  width: 226px;
  height: 170px;
  margin: 69px auto 0 1292px;
}

.u-section-5 .u-image-4 {
  width: 140px;
  height: 140px;
  margin: -145px auto 0 896px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 3px 720px 0 836px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -72px 1200px 0 335px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -67px 374px 0 1264px;
}

.u-section-5 .u-line-1 {
  width: 353px;
  transform-origin: left center 0px;
  margin: 42px auto 0 1228px;
}

.u-section-5 .u-line-2 {
  width: 353px;
  transform-origin: left center 0px;
  margin: -3px auto 0 786px;
}

.u-section-5 .u-line-3 {
  width: 353px;
  transform-origin: left center 0px;
  margin: -3px auto 0 351px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 343px 377px 0 1261px;
}

.u-section-5 .u-image-5 {
  width: 328px;
  height: 328px;
  margin: -343px 360px 0 auto;
}

.u-section-5 .u-image-6 {
  width: 151px;
  height: 133px;
  margin: -242px auto 0 900px;
}

.u-section-5 .u-image-7 {
  width: 171px;
  height: 123px;
  margin: -128px auto 0 455px;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 58px 1207px 0 367px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -27px 821px 0 836px;
}

.u-section-5 .u-line-4 {
  width: 353px;
  transform-origin: left center 0px;
  margin: 37px auto 0 355px;
}

.u-section-5 .u-line-5 {
  width: 353px;
  transform-origin: left center 0px;
  margin: -3px auto 0 790px;
}

.u-section-5 .u-line-6 {
  width: 353px;
  transform-origin: left center 0px;
  margin: -3px auto 0 1232px;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 275px 813px 0 844px;
}

.u-section-5 .u-image-8 {
  width: 288px;
  height: 288px;
  margin: -287px auto 0;
}

.u-section-5 .u-image-9 {
  width: 160px;
  height: 160px;
  margin: -215px auto 0 460px;
}

.u-section-5 .u-image-10 {
  width: 399px;
  height: 399px;
  margin: -140px 168px 0 auto;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -334px 530px 0 auto;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 66px 1207px 0 383px;
}

.u-section-5 .u-line-7 {
  width: 353px;
  transform-origin: left center 0px;
  margin: 27px auto 0 364px;
}

.u-section-5 .u-line-8 {
  width: 353px;
  transform-origin: left center 0px;
  margin: 0 auto 66px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.125rem;
    width: auto;
    margin-right: 194px;
    margin-left: 492px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 226px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 167px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-right: 194px;
    margin-left: 519px;
  }

  .u-section-5 .u-image-3 {
    margin-right: 235px;
    margin-left: auto;
  }

  .u-section-5 .u-image-4 {
    margin-left: 634px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 599px;
    margin-left: 567px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-right: 938px;
    margin-left: 117px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 197px;
    margin-left: 961px;
  }

  .u-section-5 .u-line-1 {
    width: 288px;
    margin-right: 194px;
    margin-left: auto;
  }

  .u-section-5 .u-line-2 {
    transform-origin: right center 0px;
    width: 251px;
    margin-left: 567px;
  }

  .u-section-5 .u-line-3 {
    width: 377px;
    margin-left: 116px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-right: 197px;
    margin-left: 961px;
  }

  .u-section-5 .u-image-5 {
    margin-right: 184px;
  }

  .u-section-5 .u-image-6 {
    margin-left: auto;
  }

  .u-section-5 .u-image-7 {
    margin-left: 226px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-right: 955px;
    margin-left: 139px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-right: 576px;
    margin-left: 601px;
  }

  .u-section-5 .u-line-4 {
    margin-left: 123px;
  }

  .u-section-5 .u-line-5 {
    margin-left: auto;
  }

  .u-section-5 .u-line-6 {
    width: 288px;
    margin-right: 194px;
    margin-left: auto;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-right: 568px;
    margin-left: 609px;
  }

  .u-section-5 .u-image-9 {
    margin-left: 228px;
  }

  .u-section-5 .u-image-10 {
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-right: 398px;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-right: 963px;
    margin-left: 147px;
  }

  .u-section-5 .u-line-7 {
    margin-left: 132px;
  }

  .u-section-5 .u-line-8 {
    margin-left: 527px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1647px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 61px;
    margin-right: 0;
    margin-left: 270px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 99px;
  }

  .u-section-5 .u-image-2 {
    width: 305px;
    height: 305px;
    margin-left: 80px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -72px;
    margin-right: 0;
    margin-left: 297px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -130px;
    margin-left: 48px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 159px;
    margin-right: 142px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -164px;
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    width: 220px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -56px;
    margin-right: 639px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
    margin-top: -52px;
    margin-right: 15px;
    margin-left: 545px;
  }

  .u-section-5 .u-line-1 {
    width: 228px;
    margin-top: 27px;
    margin-right: 131px;
  }

  .u-section-5 .u-line-2 {
    transform-origin: left center 0px;
    width: 213px;
    margin-left: 387px;
  }

  .u-section-5 .u-line-3 {
    width: 293px;
    margin-left: 46px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.625rem;
    margin-top: 340px;
    margin-right: 94px;
    margin-left: 649px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -328px;
    margin-right: 81px;
  }

  .u-section-5 .u-image-6 {
    margin-top: -192px;
    margin-left: 437px;
  }

  .u-section-5 .u-image-7 {
    margin-top: -123px;
    margin-left: 116px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-right: 675px;
    margin-left: 65px;
  }

  .u-section-5 .u-text-9 {
    margin-top: -28px;
    margin-left: 381px;
    margin-right: 381px;
  }

  .u-section-5 .u-line-4 {
    width: 291px;
    margin-top: 14px;
    margin-left: 48px;
  }

  .u-section-5 .u-line-5 {
    width: 254px;
    margin-top: -5px;
    margin-right: 381px;
  }

  .u-section-5 .u-line-6 {
    width: 207px;
    margin-right: 131px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 426px;
    margin-right: 369px;
    margin-left: 415px;
  }

  .u-section-5 .u-image-8 {
    margin-top: -275px;
    margin-right: 343px;
  }

  .u-section-5 .u-image-9 {
    margin-top: -194px;
    margin-left: 113px;
  }

  .u-section-5 .u-image-10 {
    width: 297px;
    height: 297px;
    margin-top: -13px;
  }

  .u-section-5 .u-text-11 {
    margin-top: -248px;
    margin-right: 261px;
  }

  .u-section-5 .u-text-12 {
    margin-top: -86px;
    margin-right: 671px;
    margin-left: 23px;
  }

  .u-section-5 .u-line-7 {
    transform-origin: right center 0px;
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-5 .u-line-8 {
    width: 275px;
    margin: -3px 369px 60px auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2047px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 86px;
    margin-left: 106px;
  }

  .u-section-5 .u-image-2 {
    width: 221px;
    height: 221px;
    margin-top: -364px;
    margin-left: 48px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5625rem;
    margin-top: -88px;
    margin-left: 203px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -60px;
    margin-left: 14px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 406px;
    margin-right: auto;
    margin-left: 63px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -563px;
    margin-right: 97px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: 54px;
    margin-left: 446px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -73px;
    margin-right: 335px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 364px;
    margin-right: 405px;
    margin-left: 33px;
  }

  .u-section-5 .u-line-1 {
    transform-origin: right center 0px;
    width: 314px;
    margin-top: -389px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-5 .u-line-2 {
    margin-top: -5px;
    margin-right: 65px;
    margin-left: auto;
  }

  .u-section-5 .u-line-3 {
    transform-origin: right center 0px;
    width: 266px;
    margin-top: 396px;
    margin-left: 400px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 302px;
    margin-right: 52px;
    margin-left: 386px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -661px;
    margin-right: auto;
    margin-left: 359px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 141px;
    margin-left: 103px;
  }

  .u-section-5 .u-image-7 {
    margin-left: 440px;
  }

  .u-section-5 .u-text-8 {
    margin-top: -337px;
    margin-right: 48px;
    margin-left: 407px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 318px;
    margin-right: 405px;
    margin-left: 52px;
  }

  .u-section-5 .u-line-4 {
    width: 228px;
    margin-top: 21px;
    margin-left: 68px;
  }

  .u-section-5 .u-line-5 {
    margin-top: -361px;
    margin-right: auto;
    margin-left: 47px;
  }

  .u-section-5 .u-line-6 {
    margin-top: 361px;
    margin-right: auto;
    margin-left: 424px;
  }

  .u-section-5 .u-text-10 {
    font-size: 1.5rem;
    margin-top: 388px;
    margin-right: 109px;
    margin-left: 412px;
  }

  .u-section-5 .u-image-8 {
    margin-right: auto;
    margin-left: 376px;
  }

  .u-section-5 .u-image-9 {
    margin-left: 98px;
  }

  .u-section-5 .u-image-10 {
    width: 308px;
    height: 307px;
    margin-top: 115px;
  }

  .u-section-5 .u-text-11 {
    margin-top: -252px;
    margin-right: 284px;
  }

  .u-section-5 .u-text-12 {
    font-size: 1.5rem;
    margin-top: -220px;
    margin-right: 377px;
    margin-left: 56px;
  }

  .u-section-5 .u-line-7 {
    width: 256px;
    margin-left: 56px;
  }

  .u-section-5 .u-line-8 {
    width: 218px;
    margin-right: auto;
    margin-bottom: 376px;
    margin-left: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-left: 113px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 320px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 155px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 258px;
    margin-left: 0;
  }

  .u-section-5 .u-line-3 {
    margin-left: 274px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-5 .u-image-5 {
    margin-left: 212px;
  }

  .u-section-5 .u-image-7 {
    margin-left: 369px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
    margin-left: 275px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-5 .u-line-6 {
    margin-left: 333px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 19px;
    margin-left: 322px;
  }

  .u-section-5 .u-image-8 {
    margin-left: 252px;
  }

  .u-section-5 .u-image-10 {
    height: 308px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 213px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 253px;
    margin-left: 0;
  }

  .u-section-5 .u-line-7 {
    margin-left: 0;
  }

  .u-section-5 .u-line-8 {
    margin-left: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3796px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 8px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 153px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 164px;
    height: 164px;
    margin-top: -546px;
    margin-left: 47px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 90px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: -282px;
    margin-left: 12px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 967px;
    margin-left: auto;
  }

  .u-section-5 .u-image-4 {
    margin-top: -526px;
    margin-right: auto;
    margin-left: 88px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 18px;
    margin-right: 12px;
    margin-left: 55px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -412px;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: 668px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-5 .u-line-1 {
    width: 293px;
    margin-top: -354px;
    margin-left: 12px;
  }

  .u-section-5 .u-line-2 {
    width: 316px;
    margin-top: -419px;
    margin-right: auto;
  }

  .u-section-5 .u-line-3 {
    margin-top: 1210px;
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: 989px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -1363px;
    margin-left: 0;
  }

  .u-section-5 .u-image-6 {
    margin-top: 92px;
    margin-left: auto;
  }

  .u-section-5 .u-image-7 {
    margin-top: 611px;
    margin-left: auto;
  }

  .u-section-5 .u-text-8 {
    width: 265px;
    margin-top: -1020px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-9 {
    width: 262px;
    margin-top: 288px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-line-4 {
    width: 293px;
    margin-top: 372px;
    margin-left: auto;
  }

  .u-section-5 .u-line-5 {
    width: 293px;
    margin-top: -1083px;
    margin-left: auto;
  }

  .u-section-5 .u-line-6 {
    width: 294px;
    margin-top: 719px;
    margin-left: auto;
  }

  .u-section-5 .u-text-10 {
    width: 199px;
    margin-top: 1177px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-8 {
    margin-top: -316px;
    margin-left: auto;
  }

  .u-section-5 .u-image-9 {
    margin-top: -1034px;
    margin-left: auto;
  }

  .u-section-5 .u-image-10 {
    margin-top: 1093px;
  }

  .u-section-5 .u-text-11 {
    font-size: 1.5rem;
    margin-top: -261px;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-5 .u-text-12 {
    margin-top: -1156px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-5 .u-line-7 {
    width: 269px;
    margin-top: 885px;
    margin-left: auto;
  }

  .u-section-5 .u-line-8 {
    width: 248px;
    margin-top: -475px;
    margin-left: auto;
    margin-bottom: 789px;
  }
} .u-section-6 {
  background-image: url("images/_______2.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 423px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 60px 480px 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: -57px auto 0 479px;
}

.u-section-6 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  width: 939px;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 27px auto 60px;
  padding: 13px 73px 13px 72px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 135px;
    margin-right: 263px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 215px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 22px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 229px;
    margin-right: 43px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 406px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: -150px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 120px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 0;
    margin-bottom: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 93px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -57px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.625rem;
    margin-top: 201px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.625rem;
    margin-top: -155px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 80px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 92px;
    margin-bottom: 40px;
  }
}